In [1]:
# Import dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
from selenium import webdriver
import pandas as pd
import requests
import pymongo

# Step 1: Scraping

In [2]:
# Import Splinter and set the chromedriver path
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
# Nasa Mars News url to be scraped
url= 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
# Parse the browser into soup 
html = browser.html
soup = bs(html, "html.parser")

In [5]:
# Collect results with latest News Title and Paragraph Text from the url
news_title= soup.find('div', class_= "content_title").text
news_p= soup.find('div', class_= "rollover_description_inner").text

print("----------------------------------------------------------------------------------------------------------")
print(news_title)
print(news_p)

----------------------------------------------------------------------------------------------------------


Why This Martian Full Moon Looks Like Candy


A mission to investigate key questions about potential life on Mars.

# Featured image

In [6]:
# Import Splinter and set the chromedriver path
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [7]:
# Visit the url for Nasa JPL Featured Space Image
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [8]:
# Scrape the browser into soup 
html = browser.html
soup = bs(html, "html.parser")

In [9]:
# Use splinter (browser) to navigate the site and find the full size image url
# for the current Featured Mars Image by clicking automatically, firstly, 
# button "full image" and secondly, button "more info" .
# Two code options to click on button "Full image":
# Option 1 (find_by_partial_text): full_image_button=browser.links.find_by_partial_text('FULL IMAGE')
# Option 2: find_by_id("id_name")
full_image_button=browser.find_by_id('full_image')
full_image_button.click()

In [10]:
# Code to button link "more info":
more_info_button=browser.links.find_by_partial_text('more info')
# Click on button:
more_info_button.click()

In [11]:
# Design an XPATH selector to grab the full size Featured Mars image:
# xpath = '//tagname//[@Attibute="value"]'
xpath = '//figure[@class="lede"]'

In [12]:
# Use splinter to Click the "Full image" 
# to bring up the full resolution image
results = browser.find_by_xpath(xpath)
img = results[0]
img.click()
print(img)

<splinter.driver.webdriver.WebDriverElement object at 0x11be54990>

In [13]:
# Scrape the browser into soup 

html = browser.html
soup = bs(html, "html.parser")
print(soup.prettify())

<html>
 <head>
  <meta content="width=device-width, minimum-scale=0.1" name="viewport"/>
  <title>
   PIA16711_hires.jpg (1375×1024)
  </title>
 </head>
 <body style="margin: 0px; background: #0e0e0e;">
  <img height="655" src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16711_hires.jpg" style="-webkit-user-select: none;margin: auto;cursor: zoom-in;" width="879"/>
 </body>
</html>

In [14]:
# Use soup to find the url for the full resolution image of mars
featured_image_url = soup.find("img")['src']
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16711_hires.jpg

In [15]:
# Use the requests library to download and save the image from the `img_url` above
import shutil
response = requests.get(featured_image_url, stream=True)
with open('img.png', 'wb') as out_file:
    shutil.copyfileobj(response.raw, out_file)

In [16]:
# Display the image with IPython.display
from IPython.display import Image
Image(url='img.png')

# Mars Weather

In [17]:
# Nasa Mars News url to be scraped
url= 'https://twitter.com/marswxreport?lang=en'

In [18]:
# Retrieve webpage with the requests module
tweet_response=requests.get(url)
#print(soup_weather.prettify())

In [19]:
# Parse the webpage and create BeautifulSoup object
soup_weather= bs(tweet_response.text, 'html.parser')
#print(soup_weather.prettify())

In [20]:
# Scrape from the html page, the Mars weather tweets by searching the corresponding class ('div') and attibute name (class_) 
# Save it as a variable called mars_weather:
mars_weather= soup_weather.find_all('div', class_= "js-tweet-text-container")

In [21]:
# Return the latest tweet text (in position 0=latest tweet] 
mars_weather_latest= mars_weather[0].text.strip()
mars_weather_latest

'LIVE NOW: Are you ready for some Sun science? \n#SolarOrbiter, an @ESA & NASA collaboration, is set for launch this SUNday Feb. 9. Tune in to learn about this first-of-its-kind mission and ask ?s using #AskNASAhttps://twitter.com/i/broadcasts/1OyKAYwVpegKb\xa0…'

# Mars Facts

In [22]:
# Visit the Mars Facts webpage here and use Pandas to scrape the table
#containing facts about the planet including Diameter, Mass, etc.

In [23]:
import lxml

In [24]:
url ='https://space-facts.com/mars/'

In [25]:
# Use Pandas function 'read_html' to scrape tabular data from the webpage 
tables = pd.read_html(url)
print(len(tables))

3

In [26]:
# Each table is a list of dataframes
tables
#type(tables)

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [27]:
# Convert the table we need (first one, position 0) into a dataframe
df=tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [28]:
# Name the df columns
df.columns = ['Mars Facts','']
df

             Mars Facts
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [29]:
# Set the index to the Feature column
df.set_index('Mars Facts', inplace=True)
df

Mars Facts
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [30]:
# Use Pandas function 'to convert the data to a HTML table string (Dataframes as html)
html_table = df.to_html(border=0, justify='inherit')
html_table

'<table border="0" class="dataframe">\n  <thead>\n    <tr style="text-align: inherit;">\n      <th></th>\n      <th></th>\n    </tr>\n    <tr>\n      <th>Mars Facts</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [31]:
#  Strip unwanted newlines to clean up the table
html_table.replace('\n  ', '')

'<table border="0" class="dataframe"><thead>  <tr style="text-align: inherit;">    <th></th>    <th></th>  </tr>  <tr>    <th>Mars Facts</th>    <th></th>  </tr></thead><tbody>  <tr>    <th>Equatorial Diameter:</th>    <td>6,792 km</td>  </tr>  <tr>    <th>Polar Diameter:</th>    <td>6,752 km</td>  </tr>  <tr>    <th>Mass:</th>    <td>6.39 × 10^23 kg (0.11 Earths)</td>  </tr>  <tr>    <th>Moons:</th>    <td>2 (Phobos &amp; Deimos)</td>  </tr>  <tr>    <th>Orbit Distance:</th>    <td>227,943,824 km (1.38 AU)</td>  </tr>  <tr>    <th>Orbit Period:</th>    <td>687 days (1.9 years)</td>  </tr>  <tr>    <th>Surface Temperature:</th>    <td>-87 to -5 °C</td>  </tr>  <tr>    <th>First Record:</th>    <td>2nd millennium BC</td>  </tr>  <tr>    <th>Recorded By:</th>    <td>Egyptian astronomers</td>  </tr></tbody>\n</table>'

In [32]:
print(html_table)

<table border="0" class="dataframe">
  <thead>
    <tr style="text-align: inherit;">
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Mars Facts</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [33]:
# Save the table directly to a file
df.to_html('html_table.html', border=0, justify='inherit')

# Mars Hemispheres

In [34]:
# Import Splinter and set the chromedriver path
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [35]:
# Visit the url and scrape the browser into soup 
hemispheres_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemispheres_url)
html = browser.html
soup = bs(html, "html.parser")
# Create an empty list to place the results
hemisphere_image_urls = []

# Collect results in an iterable list
results = soup.find("div", class_ = "collapsible results" )
#option 2: results = soup.find("div", class_ = "result-list" )
hemispheres = results.find_all("div", class_="item")

#Loop through results to get image title and image link
for hemisphere in hemispheres:
    title = hemisphere.find("h3").text
    title = title.replace("Enhanced", "")
    end_link = hemisphere.find("a")["href"]
    # Url link to the full resolution hemisphere image
    image_link = "https://astrogeology.usgs.gov/" + end_link
    # Use Splinter to visit the webpage that contains the full resolution image 
    browser.visit(image_link)
    html = browser.html
    soup=bs(html, "html.parser")
    # Select the class with the full resolution hemisphere image link
    downloads = soup.find("div", class_="downloads")
    image_url = downloads.find("a")["href"]
    #Append the dictionary with the image url string and the hemisphere title to a list
    hemisphere_image_urls.append({"title": title, "img_url": image_url})

In [36]:
# Show the list of hemisphere dictionaries
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [37]:
# Use the requests library to download and save the image from the `img_url` above
#import shutil
#response = requests.get(image_link, stream=True)
#with open('img_hemisphere.png', 'wb') as out_file:
    #shutil.copyfileobj(response.raw, out_file)

In [38]:
# Display the image with IPython.display
#from IPython.display import Image
#Image(url='img_hemisphere.png')

# Step 2 - MongoDB and Flask Application